<%-include ./partials/header.ejs %>
<%-include ./partials/main_nav.ejs %>
    <h1>Welcome to GiGGLE!</h1>
    <p>The easy to use database for keeping track of the gigs booked at your establishment</p>
    <hr>
    <p>Recent Reviews:</p>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Outstanding Service !!</h5>
      <p class="card-text">I use GiGGLE on my pub's website to display what bands we have playing. It's an effortless process, and the results look wonderful!</p>
      <p class="card-text"><small class="text-body-secondary">Gregory MacPherson, Owner of the Owlet's Cry Pub</small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Easy to understand</h5>
      <p class="card-text">I'm not a very "tech savy" person, but GiGGLE's simple interface and clean design means that even I can understand it. Thanks, GiGGLE.</p>
      <p class="card-text"><small class="text-body-secondary">Edna Ethelson, President of the local bingo hall</small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">GiGGLE makes ME giggle!</h5>
      <p class="card-text">What's not to love? You can use this database to keep track of ANY gigs booked for your establishment. You'd be a fool to use anything else!</p>
      <p class="card-text"><small class="text-body-secondary">Chuck Bogus, Owner of the Wheezing Geezers Comedy Bar</small></p>
    </div>
  </div>
</div>

<%-include ./partials/footer.ejs %>